@tailwind base;
@tailwind components;
@tailwind utilities;

header ul li{
    @apply px-5;
}

.bg-primary{
    background:#9e4ef7;
}
.bg-secondary{
    background: #7009e3;
}
.mobile-nav{
    @apply fixed top-10 left-0 bg-gray-800 w-full h-1/5 ;
}

.mobile-nav   li{
    @apply text-2xl w-full h-full text-center border-b-2;
}
.btn{
    @apply bg-primary px-5 py-2 font-bold  hover:border-2 border-white rounded cursor-pointer;
}
html{
    scroll-behavior: smooth;
}